<div class="slider">
<ion-slides pager="true" [options]="slideOpts">
 
  <ion-slide>
    <div class="slides">
    <img src='assets/images/background.png' alt="Finder"/>
    <h2>Welcome to Pantry Finder</h2>
    <p>Search for a community pantry you want to search, create and donate</p>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slides1">
    <h2>Go To Map And Donate</h2>
    <p>View some places you want to know, and donate to help people in need <3 </p>
    <img src='assets/images/map.gif' alt="map" style="border-radius: 20px;" />
    <img src='assets/images/donate.jpg' alt="donate"/>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slides2">
    <h2>Safety is a must!</h2>
    <p>Please always wear mask, and maintain social distancing</p>
    <img src='assets/images/safety.jpg' alt="safety"/>
    </div>
  </ion-slide>

</ion-slides>
</div>