<ion-header>
  <ion-toolbar>
    <br>
    <ion-searchbar class="color" [(ngModel)]="recom"
      debounce="500"
      placeholder="Search for Recommended Community Pantry..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-row>
    
    <h1 class ="ion-text-center"> &nbsp; <b>Recommended Pantries for you to donate:</b><br></h1>

    <ion-col size="12" *ngFor="let r of recommends | filter:recom" class ="ion-text-center">
     
     

      <!-- <ion-button shape = "round" expand="full" expand="full" (click)="dismiss()" color="success">
        <ion-icon name="close-circle" slot="icon-only"></ion-icon>
      </ion-button> -->

      <ion-card-content >  
       
        <ion-item class="color">
          <ion-avatar slot="start">
            <div class="avatar">
              {{r.pantry_name.substring(0, 1).toUpperCase()}}
            </div>
          </ion-avatar>
          <h1><b>{{r.pantry_name}}</b></h1> 
       </ion-item>
    
        <ion-item class="color1"> 
          <h2 class="left">Pantry Owner: {{r.user_fname +  ' ' + r.user_lname }}</h2>
                
        </ion-item> 

        <ion-item class="color1"> 
          <h2 class="left">Address: {{r.barangay  + ', ' + r.municipality + ', ' + r.province}}</h2>
        </ion-item>  

        <ion-item class="color1"> 
          <ion-label class="left">Schedule: {{r.open_time + ' to ' + r.close_time }}</ion-label>
        </ion-item>  

        <ion-item class="color1"> 
          <ion-label class="left">This pantry need the following items:</ion-label>
        </ion-item>  


           
       <ion-list-header lines="none" class="color1">
       
       <ion-chip *ngIf="r.noodles==1" shape="round" expand="block" class="ion-padding" >Noodles</ion-chip>      
       <ion-chip *ngIf="r.delata==1" shape="round" expand="block" class="ion-padding" >De Lata</ion-chip>     
       <ion-chip *ngIf="r.vegetables==1" shape="round" expand="block" class="ion-padding" >Vegetables</ion-chip>
       <ion-chip *ngIf="r.fruits==1" shape="round" expand="block" class="ion-padding" >Fruits</ion-chip>
      </ion-list-header>
      <ion-list-header  lines="none" class="color1">
       <ion-chip *ngIf="r.medicines==1" shape="round" expand="block" class="ion-padding" >Medicine</ion-chip>
       <ion-chip *ngIf="r.hygiene_kits==1" shape="round" expand="block" class="ion-padding" >Hygiene Kits</ion-chip>
       <ion-chip *ngIf="r.clothes==1" shape="round" expand="block" class="ion-padding">Clothes</ion-chip>
      </ion-list-header>
       

          <ion-button shape = "round" expand="full" expand="full" (click)="login()" color="success">
            <ion-icon name="heart-circle-outline" > </ion-icon> Donate
           </ion-button>
         
         
    </ion-card-content>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-button (click)="next()" fill="clear" color="light">
    
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-button>

   
  </ion-toolbar>
</ion-footer>
